@page
@using System.ComponentModel.DataAnnotations
@using Microsoft.CodeAnalysis.CSharp.Syntax
@using Microsoft.EntityFrameworkCore
@using PlayTogether.Models
@model MainModel;
@{
    ViewData["Title"] = "Your wall";
}

<div id="user-menu">
    <ul>
        <li class="username">@User.Identity.Name</li>
        <li>
            <button id="user-details-button" type="button">Your account</button>
        </li>
        <li>
            <form method="post" role="form">
                <button asp-page-handler="LogOut">Log Out</button>
            </form>
        </li>
    </ul>
</div>
<div id="upcoming-games">
    @if (Model.UpcomingGames.Count == 0)
    {
        <div class="games-not-found">There are no upcoming games</div>
    }
    else
    {
        <div class="row m-0">
            @foreach (var game in Model.UpcomingGames)
            {
                var participants = await Model._context.Set<Participants>()
                    .FromSqlRaw("Call ListParticipantsInGame(@p0)", game.GameId).ToListAsync();
                var isParticipant = false;
                <div class="game-component col-3 p-0">
                    <div class="form-header">
                        <div class="text-center pt-1 pb-1">Game</div>
                    </div>
                    <div class="p-2">
                        <div>
                            <b>Date</b>
                            @Html.DisplayFor(model => game.GameDate)
                        </div>
                        <div>
                            <b>Duration:</b>
                            @Html.DisplayFor(model => game.GameLength)
                        </div>
                        <div>
                            <b>Place:</b>
                            @Html.DisplayFor(model => game.PlaceName)
                        </div>
                        <div>
                            <b>Host:</b>
                            @Html.DisplayFor(model => game.FirstName)
                            @Html.DisplayFor(model => game.LastName)
                        </div>
                        <div>
                            <b>Eventual price:</b>
                            @Html.DisplayFor(model => game.Price)
                        </div>
                        <div>
                            <b>Players:</b>
                            @{
                                var amount = await Model._context.Set<GameParticipants>().FromSqlRaw("CALL CountPlayersInGame(@p0)", game.GameId).ToListAsync();
                            }
                            @Html.DisplayFor(model => amount.FirstOrDefault().Amount)
                            /@Html.DisplayFor(model => game.MaxPlayers)
                        </div>
                        <input class="upcoming-game-type" type="hidden" value="@game.GameType"/>
                        <div class="row">
                            <div class="col-5 mb-2">
                                <button asp-page-handler="GameSignUp" type="button" class="sign-up-game-button btn bg-orangered" value="@game.GameId">
                                    Sign in
                                </button>
                            </div>
                            <div class="col-5 mb-2">
                                @foreach (var participant in participants.Where(participant => participant.PlayerId == Model._session.LoggedId))
                                {
                                    isParticipant = true;
                                }
                                @if (isParticipant)
                                {
                                    <button asp-page-handler="GameSignOut" type="button" class="sign-out-game-button btn bg-orangered" value="@game.GameId">
                                        Sign out
                                    </button>
                                }
                            </div>
                            <div class="col-2 text-center mt-2">
                                <button type="button" class="game-details-button bg-transparent orangered border-0">
                                    <i class="fas fa-info"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="game-detail-form form">
                    <div class="form-header row">
                        <div class="col-10 text-center mt-2 pt-1">Game details</div>
                        <button type="button" class="game-details-close-button col-2 close-button">
                            <i class="fas fa-times-circle"></i>
                        </button>
                    </div>
                    <div class="p-2">
                        <div>
                            <label>
                                <b>About:</b>
                            </label><br/>
                            @game.Notes
                        </div>
                        <div>
                            <label>
                                <b>Created:</b>
                            </label>
                            @game.Created
                        </div>
                        <div>
                            <label>
                                <b>City:</b>
                            </label>
                            @game.CityName
                        </div>
                        <div>
                            <label>
                                <b>Pitch surface:</b>
                            </label>
                            @game.SurfaceName
                        </div>
                        <div>
                            <label>
                                <b>Uczestnicy:</b>
                            </label><br/>
                            @foreach (var participant in participants)
                            {
                                @participant.PlayerId
                                <br/>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>
<div id="add-event-form">
    <div class="add-event-header row">
        <div class="col-10 text-center mt-2 pt-1">Add Event</div>
        <button id="add-event-close-button" type="button" class="col-2 close-button">
            <i class="fas fa-times-circle"></i>
        </button>
    </div>
    <div class="p-2">
        <form method="post" id="post-add-game">
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-7">
                    <div class="form-group">
                        <label asp-for="NewGame.GameDate"></label>
                        <input asp-for="NewGame.GameDate" class="form-control bar"/>
                        <span asp-validation-for="NewGame.GameDate"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewGame.GameLength"></label>
                        <input asp-for="NewGame.GameLength" class="form-control bar"/>
                        <span asp-validation-for="NewGame.GameLength"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewGame.Notes"></label>
                        <textarea rows="6" asp-for="NewGame.Notes" class="form-control bar"></textarea>
                        <span asp-validation-for="NewGame.Notes"></span>
                    </div>
                </div>
                <div class="col-5">
                    <div class="form-group">
                        <label asp-for="NewGame.MaxPlayers"></label>
                        <input asp-for="NewGame.MaxPlayers" class="form-control bar"/>
                        <span asp-validation-for="NewGame.MaxPlayers"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewGame.Price"></label>
                        <input asp-for="NewGame.Price" class="form-control bar w-75 m-0" placeholder="PLN"/>
                        <span asp-validation-for="NewGame.Price"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewGame.Place"></label><br/>
                        <button id="place-search" type="button" class="place-search">
                            <i class="fas fa-ellipsis-h"></i>
                        </button>
                        @if (@Html.DisplayFor(model => model.SelectedPlace.PlaceName) != null)
                        {
                            @Html.DisplayFor(model => model.SelectedPlace.PlaceName)
                        }
                    </div>
                </div>
            </div>
        </form>
        <div asp-validation-summary="ModelOnly"></div>
        <div class="text-center">
            <button asp-page-handler="AddEvent" id="confirm-add-game-button" type="button" class="btn bg-orangered">Add Event</button>
        </div>
    </div>
</div>
<div id="select-place-form" class="form">
    <div class="form-header row">
        <div class="col-10 text-center mt-2 pt-1">Select pitch</div>
        <button id="select-place-close-button" type="button" class="col-2 close-button">
            <i class="fas fa-times-circle"></i>
        </button>
    </div>
    <div class="p-2">
        <form method="post" id="post-select-place">
            <input asp-for="SelectedPlace.PlaceName" type="hidden"/>
            <div>
                <select asp-for="SelectedPlace.PlaceId" id="select-place-list" class="form-control" asp-items="ViewBag.SelectPlace"></select>
            </div>
        </form>
        <div class="row">
            <div class="col-6">
                <button asp-page-handler="SelectPlace" id="confirm-select-place-button" type="button" class="btn bg-orangered">
                    Select
                </button>
            </div>
            <div class="col-6 text-right">
                <button id="add-place-button" type="button" class="btn bg-orangered">
                    Add place
                </button>
            </div>
        </div>
    </div>
</div>
<div id="add-place-form" class="form">
    <div class="form-header row">
        <div class="col-10 text-center mt-2 pt-1">Add new pitch</div>
        <button id="add-place-close-button" type="button" class="col-2 close-button">
            <i class="fas fa-times-circle"></i>
        </button>
    </div>
    <div class="p-2">
        <form method="post" id="post-add-place">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label asp-for="NewPlace.CityId"></label>
                <select asp-for="NewPlace.CityId" class="form-control" asp-items="ViewBag.SelectCities"></select>
                <span asp-validation-for="NewPlace.CityId"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPlace.PlaceName"></label>
                <input class="form-control" asp-for="NewPlace.PlaceName"/>
                <span asp-validation-for="NewPlace.PlaceName"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPlace.SurfaceId"></label>
                <select asp-for="NewPlace.SurfaceId" class="form-control" asp-items="ViewBag.SelectSurfaces"></select>
                <span asp-validation-for="NewPlace.SurfaceId"></span>
            </div>
        </form>
        <div>
            <button asp-page-handler="AddPlace" id="confirm-add-place-button" type="button" class="btn bg-orangered">
                Add place
            </button>
        </div>
    </div>
</div>
<div id="user-details-form">
    <div class="user-details-header row">
        <div class="col-10 text-center mt-2 pt-1">Edit User Details</div>
        <button id="user-details-close-button" type="button" class="col-2 close-button">
            <i class="fas fa-times-circle"></i>
        </button>
    </div>
    <div class="p-2">
        <form enctype="multipart/form-data" method="post" id="post-user-details">
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="Player.PlayerId"/>
            <div class="row">
                <div class="col-7">
                    <div class="form-group">
                        <label asp-for="Player.FirstName"></label>
                        <input asp-for="Player.FirstName" class="form-control bar"/>
                        <span asp-validation-for="Player.FirstName"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Player.LastName"></label>
                        <input asp-for="Player.LastName" class="form-control bar"/>
                        <span asp-validation-for="Player.LastName"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Player.Nickname"></label>
                        <input asp-for="Player.Nickname" class="form-control bar"/>
                        <span asp-validation-for="Player.Nickname"></span>
                    </div>
                    <div>
                        <label>@Html.DisplayNameFor(model => model.Player.BirthDate):</label>
                        @Html.DisplayFor(model => model.Player.BirthDate)
                        <input type="hidden" asp-for="Player.BirthDate"/>
                    </div>
                </div>
                <div class="col-5">
                    <label>@Html.DisplayNameFor(model => model.Player.ProfilePicture)</label>
                    <div class="profile-picture">
                        @if (Model.Player.ProfilePicture == null)
                        {
                            <div class="text-center">No profile picture</div>
                        }
                        else
                        {
                            <img src="@Html.DisplayFor(model => model.Player.ProfilePicture)" alt="profile picture"/>
                        }
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Player.Bio"></label>
                <textarea rows="4" asp-for="Player.Bio" class="form-control bar"></textarea>
                <span asp-validation-for="Player.Bio"></span>
            </div>
            <div>
                <label>@Html.DisplayNameFor(model => model.Player.PointsOfTrust):</label>
                @Html.DisplayFor(model => model.Player.PointsOfTrust)
            </div>
            <div>
                <label>@Html.DisplayNameFor(model => model.Player.GamesAttended):</label>
                @Html.DisplayFor(model => model.Player.GamesAttended)
            </div>
            <input type="hidden" asp-for="Player.Modified"/>
            <input type="hidden" asp-for="Player.Users"/>
        </form>
        <div asp-validation-summary="ModelOnly"></div>
        <div class="row">
            <div class="col-6">
                <button asp-page-handler="UserDetails" id="user-details-confirm" type="button" class="btn bg-orangered text-center">Confirm</button>
            </div>
            <div class="col-6 text-right">
                <input type="file" id="file-chooser" accept="image/*" title="Select your profile picture"/>
                <button id="upload-picture-button" type="button" class="btn bg-orangered text-center">Upload picture</button>
                <div class="profile-picture-result"></div>
            </div>
        </div>
    </div>
</div>
<div id="notification"></div>