@page
@using Microsoft.CodeAnalysis.CSharp.Syntax
@using PlayTogether.Models
@model MainModel;
@{
    ViewData["Title"] = "Your wall";
}

<div id="user-menu">
    <ul>
        <li class="username">@User.Identity.Name</li>
        <li>
            <button id="user-details-button" type="button">Your account</button>
        </li>
        <li>
            <form method="post" role="form">
                <button asp-page-handler="LogOut">Log Out</button>
            </form>
        </li>
    </ul>
</div>
<div id="upcoming-games">
    @if (Model.UpcomingGames.Count == 0)
    {
        <div class="games-not-found">There are no upcoming games</div>
    }
    else
    {
        <div class="row"></div>
        @foreach (var game in Model.UpcomingGames)
        {
            <div class="game-component col-4">

            </div>
        }
    }
</div>
<div id="add-event-form">
    <div class="add-event-header row">
        <div class="col-10 text-center mt-2 pt-1">Add Event</div>
        <button id="add-event-close-button" type="button" class="col-2 close-button">
            <i class="fas fa-times-circle"></i>
        </button>
    </div>
    <div class="p-2">
        <form method="post">
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-7">
                    <div class="form-group">
                        <label asp-for="NewGame.GameDate"></label>
                        <input asp-for="NewGame.GameDate" class="form-control bar"/>
                        <span asp-validation-for="NewGame.GameDate"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewGame.GameLength"></label>
                        <input asp-for="NewGame.GameLength" class="form-control bar"/>
                        <span asp-validation-for="NewGame.GameLength"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewGame.Notes"></label>
                        <textarea rows="6" asp-for="NewGame.Notes" class="form-control bar"></textarea>
                        <span asp-validation-for="NewGame.Notes"></span>
                    </div>
                </div>
                <div class="col-5">
                    <div class="form-group">
                        <label asp-for="NewGame.MaxPlayers"></label>
                        <input asp-for="NewGame.MaxPlayers" class="form-control bar"/>
                        <span asp-validation-for="NewGame.MaxPlayers"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewGame.Price"></label>
                        <input asp-for="NewGame.Price" class="form-control bar w-75 m-0" placeholder="PLN"/>
                        <span asp-validation-for="NewGame.Price"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewGame.Place"></label><br/>
                        <button id="place-search" type="button" class="place-search">
                            <i class="fas fa-ellipsis-h"></i>
                        </button>
                    </div>
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="text-center">
                        <button asp-page-handler="AddEvent" type="submit" class="btn bg-orangered">Add Event</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="select-place-form" class="form">
    <div class="form-header row">
        <div class="col-10 text-center mt-2 pt-1">Select pitch</div>
        <button id="select-place-close-button" type="button" class="col-2 close-button">
            <i class="fas fa-times-circle"></i>
        </button>
    </div>
    <div class="p-2">
        <div>
        </div>
        <div class="row">
            <div class="col-6">
                <button type="button" class="btn bg-orangered">
                    Select
                </button>
            </div>
            <div class="col-6 text-right">
                <button id="add-place-button" type="button" class="btn bg-orangered">
                    Add place
                </button>
            </div>
        </div>
    </div>
</div>
<div id="add-place-form" class="form">
    <div class="form-header row">
        <div class="col-10 text-center mt-2 pt-1">Add new pitch</div>
        <button id="add-place-close-button" type="button" class="col-2 close-button">
            <i class="fas fa-times-circle"></i>
        </button>
    </div>
    <div class="p-2">
        <form method="post">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label asp-for="NewPlace.CityId"></label>
                <select asp-for="NewPlace.CityId" class="form-control" asp-items="ViewBag.SelectCities"></select>
                <span asp-validation-for="NewPlace.CityId"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPlace.PlaceName"></label>
                <input class="form-control" asp-for="NewPlace.PlaceName"/>
                <span asp-validation-for="NewPlace.PlaceName"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPlace.SurfaceId"></label>
                <select asp-for="NewPlace.SurfaceId" class="form-control" asp-items="ViewBag.SelectSurfaces"></select>
                <span asp-validation-for="NewPlace.SurfaceId"></span>
            </div>
            <div>
                <button asp-page-handler="AddPlace" id="confirm-add-place-button" type="submit" class="btn bg-orangered">Add place</button>
            </div>
        </form>
    </div>
</div>
<div id="user-details-form">
    <div class="user-details-header row">
        <div class="col-10 text-center mt-2 pt-1">Edit User Details</div>
        <button id="user-details-close-button" type="button" class="col-2 close-button">
            <i class="fas fa-times-circle"></i>
        </button>
    </div>
    <div class="p-2">
        <form enctype="multipart/form-data" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="Player.PlayerId"/>
            <div class="row">
                <div class="col-7">
                    <div class="form-group">
                        <label asp-for="Player.FirstName"></label>
                        <input asp-for="Player.FirstName" class="form-control bar"/>
                        <span asp-validation-for="Player.FirstName"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Player.LastName"></label>
                        <input asp-for="Player.LastName" class="form-control bar"/>
                        <span asp-validation-for="Player.LastName"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Player.Nickname"></label>
                        <input asp-for="Player.Nickname" class="form-control bar"/>
                        <span asp-validation-for="Player.Nickname"></span>
                    </div>
                    <div>
                        <label>@Html.DisplayNameFor(model => model.Player.BirthDate):</label>
                        @Html.DisplayFor(model => model.Player.BirthDate)
                        <input type="hidden" asp-for="Player.BirthDate"/>
                    </div>
                </div>
                <div class="col-5">
                    <label>@Html.DisplayNameFor(model => model.Player.ProfilePicture)</label>
                    <div class="profile-picture">
                        <img src="@Html.DisplayFor(model => model.Player.ProfilePicture)" alt="profile picture"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Player.Bio"></label>
                <textarea rows="4" asp-for="Player.Bio" class="form-control bar"></textarea>
                <span asp-validation-for="Player.Bio"></span>
            </div>
            <div>
                <label>@Html.DisplayNameFor(model => model.Player.PointsOfTrust):</label>
                @Html.DisplayFor(model => model.Player.PointsOfTrust)
            </div>
            <div>
                <label>@Html.DisplayNameFor(model => model.Player.GamesAttended):</label>
                @Html.DisplayFor(model => model.Player.GamesAttended)
            </div>
            <input type="hidden" asp-for="Player.Modified"/>
            <input type="hidden" asp-for="Player.Users"/>
            <div asp-validation-summary="ModelOnly"></div>
            <div class="row">
                <div class="col-6">
                    <button asp-page-handler="UserDetails" id="user-details-confirm" type="submit" class="btn bg-orangered text-center">Confirm</button>
                </div>
                <div class="col-6 text-right">
                    <input asp-for="ProfilePicture.PictureFile" type="file" id="file-chooser" title="Select your profile picture"/>
                    <button id="upload-picture-button" type="button" class="btn bg-orangered text-center">Upload picture</button>
                    <div class="profile-picture-result"></div>
                </div>
            </div>
        </form>
    </div>
</div>